<h1>Coaching#ask</h1>


<form action="/answer">
  <label for="question">Ask me anything, yo</label>
  <input type="text" id="question" name="question" placeholder="Am I sentient?">
  <input type="submit" value="ask!">
</form>


  <p>Find me in app/views/coaching/ask.html.erb</p>
